
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

html,body{
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    font-family: 'Cairo', sans-serif;
    font-family: 'Tajawal', sans-serif;
}

.main {
    flex-grow: 1;
}




#praagraph_home {

    
    text-align: justify;
    font-size: 16px;
    width: 552px;  
    height: 100%;
    position: relative;
    right: 410px;
    top: 70px;


}



#manger_word{
    display: none;
}




#about_unit{

    display: none;

}



#implementation_mechanisms{
    display: none;
}




#organizational_structure{

    display: none;

}



#unit_members{
    display: none;
}




#alumni_stats{

    display: none;

}



#alumni_honor_board{
    display: none;
}

#alumni_honor_board h1 {
    text-align: center;
}

#alumni_honor_board img{

    padding-top: 45px;
    
}


#alumni_magazine{

    display: none;
    padding: 80px;
    margin-right: 100px;
    font-size: 20px;

}


#important_topics{

    display: none;
    padding: 80px;
    margin-right: 100px;
    font-size: 20px;

}


#unit_models{
    display: none;
}

#unit_models ol li{
    
    padding: 10px;
    
    

}

#unit_models ol li a{

    
    text-decoration: none;
    color: rgb(70, 51, 156);
    
    

}



#photo_album{

    display: none;

}

#photo_album h1{

    text-align: center;

}

#photo_album img {
    width: 550px;
    height: 450px;
    padding-top: 45px;
}



#dr_am{

font-weight: bold;

margin: 71px 377px 18px 33px;

}



#alumni_magazine{

    padding: 80px;
    margin-right: 100px;
    font-size: 20px;


}


#connect_us{
    position: relative;
    right: 40px;
    font-size: 16px;
    display: none;
}

#header{
    
    width: 100%;
    height: 230px;
    display: block;
    /* background-color: #130f40; */
    background-color: white;
}

.news_ticker{
    width: 902px;
    text-align: center;
    position: relative;
    right: 350px;
    box-shadow: 2px 0 3px 3px rgba(0, 0, 0, 0.2);
}

.news_ticker .class{
    display: inline-block;
    padding-right: 25px;

}

.news_ticker .class span{
    font-weight: bold;

}


#high_achievers ,#workshop , #the_line{
    display: none;
}


#logo {
    position:absolute;
    display: block;
    float: right;
    margin-top: -18%;
}

#alumni_unit{
    font-family: 'Cairo', sans-serif;
    font-family: 'Tajawal', sans-serif;
    font-weight:bolder;
    /* color: rgb(255, 255, 255); */
    color:white;
    position: absolute;
    margin: 4% 42% 10% 10%;
    font-size: 40px;
    
}


nav {
    position: relative;
    bottom: 50px;
    text-align: center;
    
}

nav ul li {
    display: inline-block;
    list-style: none;
    position: relative;
    right: 70px;
    font-size: 20px;
    padding: 15px;
}

nav ul li a {
    font-family: 'Cairo', sans-serif;
    font-family: 'Tajawal', sans-serif;
    font-weight:bolder;
    text-decoration: none;
    color: white;
}



#admin-page {
    position: relative;
    right: 230px;
    
    
}


#ccse_logo{
    width: 9%;
    display: block;
    position: relative;
    float: left;
    margin-top: -12.5%;
}



#right_bar {


    position: absolute;
    box-shadow: 2px 0 3px 3px rgba(0, 0, 0, 0.2);
    width: 260px;
    list-style-type: none;
    text-align:right;
    float: right;
    top: 326px;
    right: 29px;
    
    
    
}

#right_bar li {
    float: right;
    padding: 10px;
    text-align: center;
    padding-right: 50px;
    font-family: 'Tajawal', sans-serif;
    font-size: medium;

}


.r_bar {
    color:  black;
    text-decoration: none;
    border-radius: 15px;
    
}

.r_bar:hover {
    
    background-color:  #0d2c4b4d;
    padding: 5px 26px;
    

}



/*  footer */



.footer {


    font-family: 'Cairo', sans-serif;
    font-family: 'Tajawal', sans-serif;
    background: #111;
    color: white;
    bottom: 0;
    width: 100vw;
    margin-top: 500px;

}

.container{
    display: flex;
    background-color: #0d2c4bc7;
    

    
}

.content{
    margin: 20px 0 0 0 ;

}
#right_box .content p {
    text-align: justify;
}
#right_box{
    
    padding: 25px 25px 25px 40px;
    width: 300px;
    
}

#center_box{
    
    padding: 25px 150px 25px 40px;
    width: 300px;
    
}


.content ul li{
    padding: 5px;
    list-style: none;
}
.content ul li a{
    text-decoration: none;
    color: white;
}


.footer_link:hover{
    background-color: rgba(209, 209, 209, 0.301);
    padding: 5px 20px;
    border-radius: 15px;
    transition: 0.1s;
}

#left_box{
    
    padding: 25px 70px 25px 40px;
    width: 300px;

}




/*  footer */