
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

html,body{
    font-family: 'Cairo', sans-serif;
    font-family: 'Tajawal', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
}

#main_box {   /* the same praagraph_home */

    
    text-align: justify;
    font-size: 16px;
    width: 552px;  
    height: 100%;
    position: relative;
    right: 410px;
    top: 70px;

}


#connect_us{
    position: relative;
    right: 40px;
    font-size: 16px;
    display: none;
}

.survey ol{
    position: relative;
    bottom: 33px;

}
.survey ol li{
    padding: 19px;
    
}

.survey select{
    padding: 0 10px;
    position: absolute;
    right: 600px;
}
#submit-survey {

    width: 50%;
    height: 50px;
    font-size: 18px;
    border:  1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-family: 'Noto Kufi Arabic', sans-serif;
    color: white;
    cursor: pointer;
    outline: none;
    margin-right: 100px;
}

#submit-survey:hover{
    border-color: #2691d9;
    transition: 0.5s;

}

.survey h3 span{
    color: red;
}


#header{
    
    width: 100%;
    height: 230px;
    display: block;
    /* background-color: #130f40; */
    background-color: white;
}


.news_ticker{
    width: 902px;
    text-align: center;
    position: relative;
    right: 350px;
    box-shadow: 2px 0 3px 3px rgba(0, 0, 0, 0.2);
}

.news_ticker .class{
    display: inline-block;
    padding-right: 25px;

}

.news_ticker .class span{
    font-weight: bold;

}


#high_achievers ,#workshop , #the_line{
    display: none;
}

#logo {
    position:absolute;
    display: block;
    float: right;
    margin-top: -18%;
}

#alumni_portal{
    font-family: 'Cairo', sans-serif;
    font-family: 'Tajawal', sans-serif;
    font-weight:bolder;
    /* color: rgb(255, 255, 255); */
    color:white;
    position: absolute;
    margin: 4% 42% 10% 10%;
    font-size: 40px;
    
}



nav {
    position: relative;
    bottom: 50px;
    text-align: center;
    
}

nav ul li {
    display: inline-block;
    list-style: none;
    position: relative;
    right: 70px;
    font-size: 20px;
    padding: 15px;
}

nav ul li a {
    font-family: 'Cairo', sans-serif;
    font-family: 'Tajawal', sans-serif;
    font-weight:bolder;
    text-decoration: none;
    color: white;
}



#admin-page {
    position: relative;
    right: 230px;
    
    
}


#right_bar {


    position: absolute;
    box-shadow: 2px 0 3px 3px rgba(0, 0, 0, 0.2);
    width: 260px;
    list-style-type: none;
    text-align:right;
    float: right;
    top: 326px;
    right: 29px;
    
    
    
}

#right_bar li {
    float: right;
    padding: 10px;
    text-align: center;
    padding-right: 50px;
    font-family: 'Tajawal', sans-serif;
    font-size: medium;

}




.w1 {
    color:  black;
    text-decoration: none;
    border-radius: 15px;
    
}

.w1:hover {
    
    background-color:  #0d2c4b4d;
    padding: 5px 26px;
    

}



/* cv */



.cv{

    width: 480px;
    height: 2400px;
    background: #0d2c4bc7;
    border-radius: 15px;
    right: 100px;
    position: relative;
    color: white;
    display: none;

}


.cv h1{
    text-align: center;
    position: relative;
    top: 40px;
    
}


#cv-form ul input { 

    font-size: 18px;
    border-radius: 10px;
    position: relative;
    /* left: 80px; */
    background:  rgba(0, 0, 0, 0.212);
    height: 30px;
    border: 2px solid #ffffff;
    outline: none;
    padding:  0 10px;
    color: white;
}


#cv-form ul select { 

    font-size: 18px;
    border-radius: 10px;
    position: relative;
    /* left: 80px; */
    background:  rgba(0, 0, 0, 0.212);
    height: 32px;
    width: 225px;
    border: 2px solid #ffffff;
    outline: none;
    padding:  0 10px;
    color: white;
}

#cv-form ul select:focus{
    background:  white;
    color: black;
}




#cv-form ul input:focus {
    border: 2px solid #000000;

}



ul li  {
    font-size:16px;
}




#cv-form li{
    padding: 10px;

    list-style-type: none;
    
}

#cv-form ul {
    position: absolute;
    top: 100px;
    right: 10px;
    
}


#submit-cv{
    position: absolute;
    bottom: 10px;
    right: 155px;
    width: 138px;
    border-radius: 15px;
    font-size: 16px;
}


#cv-form li label{
    width: 125px;
    display: inline-block;
    /* position: relative;
    top: 0;
    right: 45px; */
}


#submit-cv{
    width: 40%;
    height: 40px;
    font-size: 18px;
    border:  1px solid;
    background: #ffffff;
    border-radius: 25px;
    font-family: 'Noto Kufi Arabic', sans-serif;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;

}

#submit-cv:hover{
    border-color: #000000;
    transition: 0.5s;

}

#cv-form li textarea{
    font-size: 16px;
}



/* cv */


/* search_job */

#div_search_job{
    display: none;
}

#available_jobs{
    text-align: center;
}

#search_job{
    padding: 5px;
    margin: 25px 0 75px 0 ;
    border: 1px solid black;
    height: 100%;
    font-size: 16px;
    
}

#search_job p {
    padding: 15px;

}

#search_job p span {
    font-weight: bold;

}



/* search_job */





/* ########################################################### */





/*  footer */



.footer {


    font-family: 'Cairo', sans-serif;
    font-family: 'Tajawal', sans-serif;
    background: #111;
    color: white;

    bottom: 0;
    width: 100vw;
    margin-top: 500px;

}

.container{
    display: flex;
    background-color: #0d2c4bc7;
    

    
}

.content{
    margin: 20px 0 0 0 ;

}
#right_box .content p {
    text-align: justify;
}
#right_box{
    
    padding: 25px 25px 25px 40px;
    width: 300px;
    
}

#center_box{
    
    padding: 25px 150px 25px 40px;
    width: 300px;
    
}


.content ul li{
    padding: 5px;
    list-style: none;
}
.content ul li a{
    text-decoration: none;
    color: white;
}


.footer_link:hover{
    background-color: rgba(209, 209, 209, 0.301);
    padding: 5px 20px;
    border-radius: 15px;
    transition: 0.1s;
}

#left_box{
    
    padding: 25px 70px 25px 40px;
    width: 300px;

}




/*  footer */





/* slider */




#slider{
    overflow: hidden;
    display: none;

}

#slides{

    position: relative;
    width: 500%;
    left: 0;
    top: 0;
    animation: 10s slider infinite;

} 

#slider div img {
    
    width: 20%;
}

@keyframes slider {
    0%{
        right: 0;
    }

    20%{
        right: 0;
    }

    25%{
            right: -100%;
    }
    45%{
        right: -100%;
    }
}


/* slider */


.graduate_registration select , input{

    font-size: 16px;
    border-radius: 5px;
}

.exp_to_graduate ul li  {
    font-size:16px;
}


.graduate_registration{
    

    width: 836px;
    height: 930px;
    background: #0d2c4bc7;
    border-radius: 15px;
    top: 23px;
    right: -6px;
    position: relative;
}


.graduate_registration h1{
    text-align: center;
    position: relative;
    top: 20px;
    color: white;
    
}


#registration label{
    width: 160px;
    display: inline-block;
    color: white;
}


#registration select , input{
    width: 200px;
}  

#submit{
    position: absolute;
    bottom: 25px;
    right: 350px;
    width: 138px;
    border-radius: 15px;
    font-size: 16px;
}




.ul_reg li{
    padding: 10px;

    list-style-type: none;
    
}

.ul_reg{
    position: absolute;
    top: 100px;
    right: 10px;
}

.ul_reg_2{
    position: absolute;
    top: 95px;
    right: 420px;
}

.ul_reg_2  li {
    padding: 15px;
    list-style-type: none;
}
